<!DOCTYPE html>
<html>
  <head>
    <title>Woofy</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/prenota/style.css">
    <link rel="icon" type="image/x-icon" href="/immagini/logo.ico">
  </head>

  <body>
    <!-- NAVBAR -->
    <div class="navbar justify-content-center align-items-center">
      <a class="nav-item mx-3 fw-bold" href="/" target="_parent">Home</a>
      <a class="nav-item mx-3 fw-bold" href="/prenotazioni" target="_parent">Prenotazioni</a>
      <a class="nav-item mx-3 fw-bold" href="/prenota" target="_parent">Prenota</a>
      <a class="nav-item mx-3 fw-bold" href="/logout">Disconnettiti</a>
    </div>

    <!-- HEADER -->
    <div class="header-container d-flex flex-column align-items-center">
      <h1 class="text-light custom-title">Prenota il tuo prossimo appuntamento</h1>
    </div>

    <!-- SEARCHBAR -->
    <div class="container container-search">
      <div class="row justify-content-center">
        <div class="col">
          <form class="searchbar-container d-flex justify-content-center rounded-3" action="/prenota" method="POST">
              <input type="text" name="profession" placeholder="Cerca professionisti..." required>
              <button type="submit" class="btn btn-primary btn-lg custom-btn">Cerca</button>
          </form>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="row">

        <% if (typeof professionals !== 'undefined' && professionals.length > 0) {
          professionals.forEach(function(professional) { %>
  
        <!-- BOX -->
        <div class="container container-box rounded-3 my-4">

          <div class="row d-flex justify-content-center align-items-center">

            <!-- PICTURE -->
            <div class="col my-2 mx-4">
              <div class="picture">
                <img src="/immagini/icone_professioni/<%= professione.toLowerCase() %>_icon.png">

              </div>
            </div>
            
            

              <!-- DESCRIPTION -->
              <div class="col my-2 mx-4">
                <div class="description">
                  <p class="name custom-text"><p class="name custom-text"> <%= professional.id %>: <%= professional.firstName.charAt(0).toUpperCase() + professional.firstName.slice(1) %> <%= professional.secondName.charAt(0).toUpperCase() + professional.secondName.slice(1) %></p>
                  <p class="location"><p class="location"><%= professional.city.charAt(0).toUpperCase() + professional.city.slice(1) %>, <%= professional.address.charAt(0).toUpperCase() + professional.address.slice(1) %></p>

                </div>
              </div>

              <!-- COMBOBOXES -->
              <div class="col my-2 mx-4">

                <div class="comboboxes custom-combobox">

                  <input type="text" name="date" placeholder="           gg / mm / yyyy" required>
                
                  <div class="my-3"></div> <!-- Spazio tra i due box -->
      
                  <select class="form-select" name="time" required>
                    <option selected disabled>Seleziona un orario</option>
                    <option value="08:00">08:00</option>
                    <option value="09:00">09:00</option>
                    <option value="10:00">10:00</option>
                    <option value="11:00">11:00</option>
                    <option value="12:00">12:00</option>
                    <option value="13:00">13:00</option>
                    <option value="14:00">14:00</option>
                    <option value="15:00">15:00</option>
                    <option value="16:00">16:00</option>
                    <option value="17:00">17:00</option>
                    <option value="18:00">18:00</option>
                    <option value="19:00">19:00</option>
                    <option value="20:00">20:00</option>
                  </select>

                </div>

              </div>

            <!-- BUTTON -->
            <div class="col-md-auto my-2 mx-4">
              <button data-professional-id="<%= professional.id %>" class="book-btn btn btn-primary custom-btn">Prenota</button>
            </div>

          </div>

        </div>

        <% }) } else { %>
  
          <div class="text-white text-center">
            <p>Non è stata selezionata alcuna professione oppure non è stato trovato alcun professionista per questa categoria.</p>
          </div>
        
        <% } %>

      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/bootstrap.bundle.min.js"></script>
    <script src="/prenota/script.js"></script>
    
  </body>
</html>