<!DOCTYPE html>
<html>
  <head>
    <title>Woofy</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/prenota/style.css">
    <link rel="icon" type="image/x-icon" href="/immagini/logo.ico">
  </head>

  <body>
    <!-- NAVBAR -->
    <div class="navbar justify-content-center align-items-center">
      <a class="nav-item mx-3 fw-bold" href="/" target="_parent">Home</a>
      <a class="nav-item mx-3 fw-bold" href="/prenotazioni" target="_parent">Prenotazioni</a>
      <a class="nav-item mx-3 fw-bold" href="/prenota" target="_parent">Prenota</a>
      <a class="nav-item mx-3 fw-bold" href="/logout">Disconnettiti</a>
    </div>

    <!-- HEADER -->
    <div class="header-container d-flex flex-column align-items-center">
      <h1 class="text-light custom-title">Prenota il tuo prossimo appuntamento</h1>
    </div>

    <!-- SEARCHBAR -->
    <div class="container container-search">
      <div class="row justify-content-center">
        <div class="col">
          <form class="searchbar-container d-flex justify-content-center rounded-3" action="/prenota" method="POST">
              <input type="text" name="profession" placeholder="Cerca professionisti..." required>
              <button type="submit" class="btn btn-primary btn-lg custom-btn">Cerca</button>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <% if (typeof professionals !== 'undefined' && professionals.length > 0) {
          professionals.forEach(function(professional) { %>
  
        <!-- BOX -->
        <div class="container container-box rounded-3 my-4">
          <div class="row d-flex justify-content-center align-items-center">
            <!-- PICTURE -->
            <div class="col my-2 mx-4">
              <div class="picture">
                <img src="/immagini/icone_professioni/<%= professione.toLowerCase() %>_icon.png">

              </div>
            </div>
            
            <!-- DESCRIPTION -->
            <div class="col my-2 mx-4">
              <div class="description">
                <p class="name custom-text"><p class="name custom-text"><%= professional.first_name.charAt(0).toUpperCase() + professional.first_name.slice(1) %> <%= professional.secondName.charAt(0).toUpperCase() + professional.secondName.slice(1) %></p>
                <p class="location"><p class="location"><%= professional.city.charAt(0).toUpperCase() + professional.city.slice(1) %>, <%= professional.address.charAt(0).toUpperCase() + professional.address.slice(1) %></p>

              </div>
            </div>
            <!-- COMBOBOXES -->
            <div class="col my-2 mx-4">
              <div class="comboboxes custom-combobox">
                <select class="form-select" name="date">
                  <option selected disabled>Seleziona una data</option>
                  <option value="2023-05-15">15/05/2023</option>
                  <!-- altre opzioni da aggiungere -->
                </select>
    
                <div class="my-3"></div>
    
                <select class="form-select" name="time">
                  <option selected disabled>Seleziona un orario</option>
                  <option value="9:00">9:00</option>
                  <!-- altre opzioni da aggiungere -->
                </select>
              </div>
            </div>
            <!-- BUTTON -->
            <div class="col-md-auto my-2 mx-4">
              <button class="book-btn btn btn-primary custom-btn">Prenota</button>
            </div>
          </div>
        </div>

        <% }) } else { %>
  
          <div class="text-white text-center">
            <p>Non è stata selezionata alcuna professione oppure non è stato trovato alcun professionista per questa categoria.</p>
          </div>
        
        <% } %>

      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/bootstrap.bundle.min.js"></script>
    <script src="/prenotazioni/script.js"></script>
    
  </body>
</html>